<div class="mt-sm g container">
  <% @hashtags.each do |hashtag|%>
    <% unless hashtag.questions.blank? %>
      <%= link_to hashtag.name, hashtag_path(hashtag.slug) %>
    <% end %>
  <% end %>
</div>

<%= render 'users' %>
<% unless @questions.count == 0 %>
  <div class="container mt__sm">
    <h2 class="title__lg">
      <%= @questions.count %>
      <%= inclination(@questions.count, 'question', 'questions') %>
    </h2>
  </div>
<% end %>


  <% if @questions.count == 0 && current_user.present? %>
    <%= render 'users/user_login' %>
  <% elsif @questions.count == 0%>
    <%= render 'users/user_registration' %>
  <% else %>
    <%= render @questions %>
  <% end %>
