<div class="container">
  <%= render 'users/users_choice' %>
</div>

<% if @users.count == 0 %>
  <div class="container mt__sm">
    <h2 class="title__lg">
      <%= inclination(@questions.count, 'Last', 'Last') %>
      <%= @questions.count %>
      <%= inclination(@questions.count, 'Question', 'Questions') %>
    </h2>
  </div>
<% end %>

<% @questions.each do |question| %>
  <div class="mt__sm container">
    <p class="mb text__sm text__grey">
      Question <%= link_to "##{question.id}", question_path(question) %>
      for user <%= link_to "@#{question.user.nickname}", user_path(question.user) %>
    </p>
      <%= render question %>
  </div>
<% end %>

<div class="mt__sm container">
  <% if @questions.count == 0 %>
    <%= render 'users/user_login' %>
  <% end %>
</div>