<% if question.errors.any? %>
  <div class="mt">
    <% question.errors.full_messages.each do |message| %>
      <p class="mb__sm text__red"><%= message %></p>
    <% end %>
  </div>
<% end %>

<div class="mb__sm">
  <%= question.body %>
</div>
<div class="text__sm question__footer">
  <div class="text__grey">
    <%= l(question.created_at, format: :short) %>
  </div>
  <div>
    <%= link_to fa_icon('pencil'), edit_question_path(question),
      title: "Change question" %>
    <%= link_to fa_icon('trash-o'), question_path(question),
      data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>
    <% if question.hidden? %>
      <%= button_to fa_icon('eye-slash'), visible_question_path(question), title: 'Show question?', method: :put %>
      <span class="opacity"><%= link_to "Question #{question.id}", question_path(question) %></span>
    <% else %>
      <%= button_to fa_icon('eye'), hide_question_path(question), title: 'Hidde question?', method: :put %>
      <%= link_to "Question #{question.id}", question_path(question) %>
    <% end  %>
  </div>
</div>